
__pycache__/

*.code-workspace

prisoned-in-julia/JuliaProgrammingForNervousBeginners

prisoned-in-julia/Lorem.txt

graph-tool-documentation.pdf

*.ppm

*.o

prisoned-in-c/main

*.png

maybe_traduzione.pdf

prisoned-in-c/small_venv/
